apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  namespace: lab-core
  labels:
    app: nginx
spec:
  containers:
    - name: nginx
      image: nginx:1.27
      ports:
        - containerPort: 80
